/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar {
     background-color: white;
     height: 82px;
     border-bottom: 2px solid black;
 }

#biggone {
    width: 700px;
    align-content: center;
}

.noshow {
    display: none;
}

.card {
    margin-top: 8px;
    background-color: transparent!important;
    box-shadow: 2px 2px 2px black;
}

.fab, .fas {
    font-size: 100px;
    margin: 5px;
    color: white;
}

#fixme {
    margin-top: -40px;
}

#centerit {
    align-self: center;
}

.movedown {
    margin-top: 10%;
}

.littleless {
    margin-top: 7%;
}

.wider {
    margin: -1px;
    margin-top: 2px;
}

.pickme {
    background-image: url(coolone.jpg);
     background-attachment: fixed;
     background-size: 80%;
     background-repeat: no-repeat;
     background-position: 50% 50%;
}

.pickme * {
    color: white;    
}

.profile-img {
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}