<body>
<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>
<br>
<%= link_to 'Back', blogs_path %>
</div> 
</div>
</body>