
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield %>

      <div class="container">
      <div class="row">
        <div class="col-lg-7">
            <%= image_tag "IMG_3919.JPG",  alt: "profile image", class: 'profile-img' %>
        </div>
        <div class="col-lg-5" id="spaceit">
           <h4> I help empower people to overcome their fears and learn self acceptance and happiness within. Health is connected to all areas of your life: exercise, learning, career, romance, speed of life, cooking, community, spirituality, food, home, finances, and friendship. By balancing areas of your life, you will find that you are truly happy. You will also find your underlying fears that stop you from progressing to be the person you envisioned yourself being.</h4>
           <br>
           <p>I am a Master Health and Wellness Coach. I have degrees in Feng Shui, a Masters of Science in Psychology, Master of Herbology, Reiki Master, Art Therapy, Yoga Instructor. These degrees set me apart from other coaches; allowing me to use multiple modalities when needed. It also allows me to specialize in many areas. My main specialties are in nutrition, digestive/adrenal, and helping people overcome their fears. I do coaching for businesses, groups, individuals through skype and phone calls. </p>
        </div>
      </div>
      </div>
  </body>