<body class="pickme">
<div class="container">
<div class="row">
        <h1 class="col-sm-6"> Questions?<br>Lets get in touch</h1>
        <div class="col-sm-6">
            <a class="btn" href="https://www.instagram.com/i_am_balance_/?hl=en"><i class="fab fa-instagram"></i></a>
            <a class="btn" href="https://www.facebook.com/iambalance17/"><i class="fab fa-facebook"></i></a>
            <a class="btn" href="https://twitter.com/kaemars"><i class="fab fa-twitter-square"></i></a>
        </div>

        <div class="col-sm-2 movedown">
        <i class="fas fa-envelope-square"></i>
        </div>  
        <div class="col-sm-10 movedown" id="centerit">
        <h5> kln.samadhi49@gmail.com </h5>
        </div>

        <div class="col-sm-2 movedown">
        <i class="fas fa-phone"></i>
        </div>  
        <div class="col-sm-10 movedown" id="centerit">
        <h5> 435-864-7850 </h5>
        </div>
</div>
</div>
</body>