<body>
<div class="container">
<div class="row">
  <div class="card mb-3">
    <img class="card-img-top" id="biggone"><%= image_tag "Flower_edited-1.JPG",  alt: "profile image", class: 'profile-img' %>
    <div class="card-body">
      <h5 class="card-title">I am Balance</h5>
      <p class="card-text"><q>I have taken the six week course with KaeLene. This was a fun and learning experience. KaeLene is very attentive in what she is doing, she is always there to help when you have a question. She takes more time to help you than others would. She wants to make sure that you get all the help and advise that you need to help succeed. She gives you great motivation and daily encouragement.</q> </p>
      <br>
      <p><q>One of the things that KaeLene helped me with,is taking a few minutes every day for myself. I am trying hard to get my body to respond to the things that it needs, to get my thyroid in check and improve my health. I will try to stay on the path that she has helped me lay out for myself.</q> - Rayette Jones </p>
      <a href="/pages/about">
        <button class="btn btn-outline-primary">Find out more!</button>
      </a>
    </div>
  </div>

  <body class="homepage">
  <div class="card col-lg-12">
  <div class="card-body">
    <h2>I have helped these people find balance, and I will help you too!</h1>
  </div>
</div>

  <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">James Biorge - SAYVES</h5>
        <p class="card-text"> <q>In our busy and stressful lives (especially for women) finding balance in life can bring the positive energy levels from peace and contentment in life. </q></p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Sonja Cazier -Energy Works</h5>
        <p class="card-text"><q>KaeLene is a very giften person with many talents. I have benefitted physically, mentally, and emotionally from her work. I trust her intuition and her knowledge.</q></p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Business Executive and Family Man</h5>
        <p class="card-text">Doing the 6 week health challenge was an absolute life changer. It helped me not only learn about health, fitness, foods, and more, but also helped me balance my life as a whole. I began to feel balanced in my personal and professional life. It was such a neat experience to have a health coach with a fountain of knowledge who is also committed to helping you change your life for the better!</q></p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Cheyenne Soares - Mom/Fitness Enthusiast</h5>
        <p class="card-text"><q>I have loved having you coach me each week! I especially loved that you really covered all areas of health and wellness, not only diet and fitness. I feel like so often I get busy and neglect my mental and emotional health, so it has been so nice to have you there to guide me to bettering myself that way. I have learned a lot of new things! The last 6 weeks have really made me stop and focus, and its amazing how when I take care of myself, I am so much happier, less stressed and able to accomplish so much more day to day! Thank you !!!</q></p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Mark Graves - Wellevated Inc.</h5>
        <p class="card-text"><q>I would recommend KaeLene. I have known her for years. She is very talented. </q></p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Nick Drishinski - Software Developer/Entrepreneur</h5>
        <p class="card-text"><q>If you are looking for someone who has all the knowledge you could want, and will put in the effort you NEED then KaeLene is your answer. She is the complete package. </q></p>
      </div>
    </div>
  </div>

</div>
</div>
</div>
</body>